@font-face {
    font-family: 'Alegreya';
    src: url('./font/subset-AlegreyaSansSC-Black.woff2') format('woff2');
        url('./font/subset-AlegreyaSansSC-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --yellow:#ffc92f;
    --red: #d82727;
    --black: #1b1b1b;

html, body {
    height: 100%;
}

.wrapper{
    overflow: hidden;
    min-width: 1310px;
}

body {
    font-size: 16px;
    line-height: 1,42;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color:#212121;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smothing:grayscale;
    background: #fcf5e6;
}

ul{
    margin: 0;
    padding: 0;
}

ul>li{
list-style: none;
}
.hero {
    height: 100hv;
    min-height: 650px;
    background: url('./img/bg/hero.jpg') center center / cover no-repeat;
    position: relative;
    margin-bottom: 130px;
}
.header{
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
}

.mail{
text-decoration: none;
text-align: center;
color:inherit;
}

.mail__title{
    margin-bottom: 3px;
}
.mail__content {
    background: #212121;
    color: #ffbc2f;
    font-size: 16px;
    padding: 5px 16px;
}



.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1140px;
    height: 72%;
}

.sibar{
    width: 75px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #212121;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: width .3s;
}

.sidebar--menu{
    position: absolute;
    left: -400px;
    transition: left .3s;
}

.sidebar__hamburger{
    display: block;
    position: absolute;
    top: 27px;
    left: 50%;
    transform: translate(-50%);
}
.sidebar__hamburger--icon{
    width: 29px;
    height: 29px;
    fill:var(--yellow);
}

.sibar_opened .sidebar__hamburger {
    display: none;
}
.sibar_opened .sidebar--menu{
left: 0;
width: 100%;
text-align: center;
transition-delay: .1s;
}

.sibar_opened{
    width: 325px;
    padding: 0 3% 0 4%;
}

.sibar_opened .sidebar_header{
    display: flex;
}
.sidebar_header {
    position: absolute;
    top: 29px;
    left: 0;
    right: 0;
    display: none;
    justify-content: center;
}

.sidebar_closer{
    position: absolute;
    top: -4px;
    right: 23px;
}
.sidebar_closer-icon{
    width: 29px;
    height: 29px;
    fill:var(--yellow);
}

.sidebar_menu-item{
    margin-bottom: 20px;
}

.sidebar_menu-link{
    font-size: 20px;
    color: var(--yellow);
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Yanone Kaffeesatz', Arial, sans-serif;
}

.sidebar_menu-link:hover{
color: var(--red);
}

.fade-slider {
    width: 100%;
    height: 100%;
}

.fade-slider__item {
    background:  center center /contain no-repeat;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s;
}

.fade-slider_item-visible{
    opacity: 1;
}
.fade-slider__item--style_tshirts{
    background-image: url('./img/content/hero/slider_pic_1.png');
}

.fade-slider__item--style_tshirts .fade-slider__text{
    left: 50%;
    top: 50%;
    transform: translateX(-107%) translateY(-27%);
}

.fade-slider__item--style_game{
    background-image: url('./img/content/hero/slider_pic_2.png');
}

.fade-slider__item--style_game .fade-slider__text{
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.fade-slider__item--style_game .lined-text{
    align-items: center;
}

.fade-slider__item--style_presents{
    background-image: url('./img/content/hero/slider_pic_3.png');
}

.fade-slider__item--style_presents .fade-slider__text{
    left: 15%;
    bottom: 0;
    transform: translateY(-7%);
}

.fade-slider__item--style_presents .lined-text{
    align-items: center;
}
.fade-slider__item--style_presents .lined-text__word:last-child{
    font-size: 50px;
}

.fade-slider__text{
    position: absolute;
}

.lined-text{
    font-family: 'Alegreya', Arial,sans-serif;
    color: #fff;
    font-size: 63px;
    text-transform: uppercase;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}

.lined-text__word{
    background: #000;
    padding: 0 17px 8px;
    margin-top: -7px;
}

.lined-text__word--color-yellow{
    color: var(--yellow);
    white-space: nowrap;
}

.lined-text__word:nth-child(2n) {
    margin-left: 8px;
}
.filter{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.filter__item {
    margin-right: 40px;
}
.filter__item:last-child{
    margin-right: 0;
}

.filter_link{
     font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
    text-transform: uppercase;
    padding: 5px 21px;
    color: var(--black);
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

.filter_link:hover{
    color: var(--red);
}

.filter__item--active .filter_link {
    color: #ffc92f;
    background: #1b1b1b;
}

.container {
    margin: 0 auto;
    width: 1300px;
}

.produst{
    margin-bottom: 160px;
}

.collections {
    margin-bottom: 135px;
}

.products__list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -27px;
}

.products__item {
    width: 302px;
    height: 386px;
    background: var(--yellow);
    margin-bottom: 35px;
    margin-left: 27px;
    position: relative;
}

.product__price{
    position: absolute;
    top: 18px;
    left: -6px;
    width: 126px;
border-bottom: 45px solid #232323;
border-right: 2px solid transparent;
border-left: 5px solid transparent;
transform: rotate(-181deg);
}

.product__price-amount {
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    transform: rotate(182deg);
    position: absolute;
    top: 2px;
    right: 28px;
}
.products__item--color-black{
    background: #232322;
}

.products__item--color-black .product__price{
    border-bottom-color: var(--yellow);
}

.products__item--color-black .product__price-amount{
    color:var(--black);
}
.products__item--size-double{
    width: 630px;
    height: 540px;
}
.products__content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.products__item:hover .product__desc{
    transform: translateY(0%);
}
.product__desc {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 23px 30px;
    background: rgba(35,35, 35, .8);
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(100%);
    transition: transform .3s;
}

.products__img {
    display: block;
    max-width: 90%;
    max-height: 100%;
}

.products__desc-text{
    align-items: center;
    margin-bottom: 18px;
}

.btn {
    text-transform: uppercase;
     font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
  font-size: 24px;
  padding: 5px 30px 2px 30px;
  background: var(--black);
  color: var(--yellow);
  display: inline-block;
  text-decoration: none;
}

.btn:hover {
    background: var(--red);
    color:#fff
}

.collection__list {
    display: flex;
}

.collection__item {
min-height: 474px;
flex: 1;
overflow: hidden;
margin-right: 30px;
background: url('./img/bg/pattern.png') center center /500px;
position: relative;
}

.collection__item::before{
    content: "";
    display: block;
    position: absolute;
    height: 176%;
    width: 60%;
    top: -17%;
    left: -18%;
    background: center center / contain no-repeat;
}

.collection__item:last-child{
    margin-right: 0;
}

.collection__link {
    display: block;
    padding: 74px 13% 74px 44%;
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

.collection__link:hover .btn{
    background: var(--red);
    color: #fff;
}

.collection__title {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    line-height: 1;
}

.collection__desc{
   margin-bottom: 28px;
}

.collection__item--type-guys:before{
    background-image: url('./img/collections/collection_man.png');
}

.collection__item--type-girls:before{
    background-image: url('./img/collections/collection_woman.png');
    top:-31%;
    width: 80%;
    left:-25%;
}

.footer {
    margin-bottom: 115px;
}

.container__footer{
    width: 1105px;
}

.site_menu{
    margin-bottom: 115px;
}
.site_menu_sections{
    display: flex;
    justify-content: space-between;
}

.site_menu-col{
    margin-right: 20px;
}

.site_menu-col:last-child{
    margin-right: 0px;
}

.site_menu-title{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: var(--black);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.site_menu-item {
    margin-bottom: 15px;
}

.site_menu--link {
color: #737373;
font-size: 15px;
text-decoration: none;
}

.site_menu--link:hover {
    color: var(--red);
}

.site_menu--text{
    color: var(--black);
    font-size: 15px;
    margin-bottom: 30px;
}

.site_menu--text-row{
    color: var(--black);
    font-size: 15px;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
}

.site_menu--text:hover{
color: var(--red);
}

.extras{
    display: flex;
    margin-bottom: 95px;
}

.extras__col{
    margin-right: 20px;
    flex: 1;
}

.extras_col:last-child{
    margin-right: 0px;
}

.extras_best{
    text-align: center;
    color:#fff;
    background: var(--black);
    font-size: 50px;
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-transform: uppercase;
    padding: 39px 10%;
    display: block;
    text-decoration: none;
    line-height: 1;
}

.extras_social{
    height: 100%;
    background: url('./img/bg/pattern.png') center center /500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
display: flex;
}

.social__items{
    margin-right: 50px;
}

.social__items:last-child{
    margin-right: 0px;
}

.social__link{
    width: 38px;
    height: 38px;
    display: block;
}

.social__link:hover .social__icon{
    fill: var(--red);
}
.social__icon{
    height: 100%;
    width: 100%;
}
}
